.outer-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    user-select: none;
    flex-direction: column;
}
.outer-wrapper.horizontal{
    flex-direction: row;
    justify-content: space-around;
}
