.outer-wrapper{
    /* display: flex;
    align-items: center; */
    gap: 0.8em;
    /* margin-top: 0.5em;
    margin-bottom: 0.5em; */
    position: relative;
}
.outer-wrapper circle-result-animation, .outer-wrapper fill-result-animation {
    width: 4em;
    height: 4em;
    display: inline-block;
    position: absolute;
    left: 0;
    transition: left 0.5s;
    top: 50%;
    transform: translate(0, -50%);
}

.outer-wrapper.reverse circle-result-animation, .outer-wrapper.reverse fill-result-animation{
    left: calc(100% - 4em)
    /* flex-direction: row-reverse; */
}
.inner-wrapper{
   
    width: calc(100% - 0.8em - 4em);
    display: inline-block;
    position: relative;
    right: -4.5em;
    transition: right 0.5s;
    vertical-align: top;
    min-height: 4em;    
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: center;
    min-height: 4em;    
}
.outer-wrapper.reverse .inner-wrapper{
    right: 0em;
}

.value{
    font-size: 1.3em;
    font-weight: bold;
}
.outer-wrapper.reverse:not(.minimal) .value{
    text-align: right
}
.outer-wrapper.reverse .text{
    text-align: right;
}

.outer-wrapper.minimal{
    display: flex;
    flex-direction: column !important;
}
.outer-wrapper.minimal circle-result-animation, .outer-wrapper.minimal fill-result-animation{
    position: relative;
    transform: unset;
    scale: 0.75;
    height: 3em;
}
.outer-wrapper.minimal .value{
    font-size: 1.15em;

}

.outer-wrapper.minimal .inner-wrapper{
    min-height: unset;
    width: auto;
    align-items: center;
    position: unset;
    width: auto;
}

.outer-wrapper.minimal .text-wrapper{
    min-height: unset;
    text-align: center;
}

.outer-wrapper.minimal .inner-wrapper span:not(.value){
    display: none;
}
