:root{
    position: relative;
}
.outer-wrapper{
    background-color: var(--secondary-panel-color);
    width: fit-content;
    padding: 0.8em;
    /* text-align: center; */
    margin: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    position: relative;

}
.outer-wrapper.green{
    background-color: var(--htw-green-a);
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-wrapper{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.unit{
    margin-left: 0.5em;
}
.value-wrapper, .input-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    transition: grid-template-columns 0.5s ease-in-out;
}
.value-wrapper *, .input-wrapper *{
    overflow: hidden;
}
.value-wrapper[removed], .input-wrapper[removed]{
    grid-template-columns: 0fr;
}
.result-loading {
    /* display: block; */
  /* height: 100%; */
  opacity: var(--loader-opacity);
  background-color: var(--htw-hover-green);
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: fadeInResultLoading 0.2s ease-out;
}


.result-loading[disabled]{
  display: none;
  animation: fadeOutResultLoading 0.2s ease-out;
}
.result-loading[disabled] + .content-wrapper{
  opacity: 1;
}
.result-loading:not([disabled]) + .content-wrapper{
  opacity: 0;
}


.result-loading .loader {
  /* border-radius: 50%; */
  width: 5rem;
  height: 5rem;
  animation: pulse .5s linear infinite;
  /* margin-right: auto; */
  /* margin-left: auto; */
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
  opacity: 0.5;
}

@keyframes fadeInResultLoading {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOutResultLoading {
    0% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}