.outer-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    user-select: none;
}
img{
    width: 1.875em;
    margin: 0 0.5em;
    cursor: pointer;
    opacity: .2;
    @media screen and (prefers-color-scheme: dark) {
        filter:invert();
    }
}
img.selected{
    opacity: 1;
}