.outer-wrapper{
    position: relative;
    height: 4em;
    @media screen and (prefers-color-scheme: dark) {
        filter: invert();
    }
}
svg, img {
    width: 4em;
    height: 4em;
}
  
circle:last-of-type {
    transition: 0.35s stroke-dashoffset;
    /* axis compensation */
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

svg:last-of-type{
    position: absolute;
    left: 0;
    @media screen and (prefers-color-scheme: dark) {
        filter: invert();
    }
}