*{
    --nav-button-dimension: 1.75em;
}
.outer-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    user-select: none;
}
.line{
    position: absolute;
    background-color: var(--inactive-background-color);
    height: 0.125em;
    top: 50%;
    z-index: -1;
    transform: translate(0,-0.0625em);
    transition: background-color .3s;
}
.bubble{
    background-color: var(--inactive-background-color);
    width: var(--nav-button-dimension);
    height: var(--nav-button-dimension);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
    position: relative;
}
.bubble:hover{
    background-color: var(--htw-hover-green);
}
.bubble:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}
.nav-button{
    line-height: var(--nav-button-dimension);
    text-align: center;
    /* font-size: 0.8em; */
    @media screen and (prefers-color-scheme: dark) {
        color: var(--button-text-color);
    }
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.line.active, .bubble.active{
    background-color: var(--htw-green);
}

