*{
    --arrow-dimension: 0.8em
}
.outer-wrapper{
    cursor: pointer;
    background-color: var(--secondary-panel-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    overflow: hidden;
    margin: calc(var(--outline-offset) + var(--outline-width));
}
.outer-wrapper:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}
.outer-wrapper *{
    margin: 0 0.8em;
}
.arrow{
    width: 0; 
    height: 0; 
    border-left: var(--arrow-dimension) solid transparent;
    border-right: var(--arrow-dimension) solid transparent;
    border-top: var(--arrow-dimension) solid var(--font-primary-color);
}
.arrow[open]{
    border-left: var(--arrow-dimension) solid transparent;
    border-right: var(--arrow-dimension) solid transparent;
    border-top: var(--arrow-dimension) solid transparent;
    border-bottom: var(--arrow-dimension) solid var(--font-primary-color);
    margin-top: calc(var(--arrow-dimension) * -1);
}