
*{
    --switch-width: 3.5em;
    --switch-height: 1em;
    --thumb-width: 50%;
    --thumb-height: 70%;
    --thumb-width-inset: 10%;
    --border-width: 0.0625em;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
    margin: calc(var(--border-width) + var(--outline-width) + var(--outline-offset));
}

/* .switch:focus{
    outline: none;
} */
.switch:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    border-radius: var(--switch-height);
    outline-offset: var(--outline-offset);
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--inactive-background-color);
    box-shadow: 0 0 0 var(--border-width) var(--border-color);
    border-radius: var(--switch-height);
}
.slider:after{
    content: "";
    position: absolute;
    width: var(--thumb-width);
    height: var(--thumb-height);
    top: 50%;
    transform: translateY(-50%) translateX(var(--thumb-width-inset));
    border-radius: calc(infinity * 1px); 
    -webkit-transtition: all .1s ease-in-out, background-color .3s;
    transition: all .1s ease-in-out, background-color .3s;
    background-color: var(--background-color);
    box-shadow: 0 0 0 var(--border-width) var(--border-color);
} 

.slider svg{
    opacity: 0;
    position: absolute;
    top: calc(50% + 0.1em);
    transform: translate(20%, -50%);
}

input:checked + .slider svg {
    opacity: 1;
}

input:checked + .slider{
    background-color: var(--htw-green);
}

input:checked + .slider:after {
    transform: translateY(-50%) translateX(calc(100% - var(--thumb-width-inset)));
}

.outer-wrapper {
    display: flex;
    align-items: center;
}
label{
    margin-left: 0.5em;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
}
.inner-wrapper{
    display: flex;
    align-items: center;
}
@media (hover: hover) {
    .switch:hover .slider::after, .switch:has(+ label:hover) .slider::after{
        background-color: var(--htw-hover-green);
    }
}