.outer-wrapper{
    display: flex;
    align-items: center;
}
.outer-wrapper:not(.inline){
    flex-direction: column;
    align-items: unset;
}
.outer-wrapper.inline .label{
    flex-grow: 1;
    margin-right: 0.8em;
}
.outer-wrapper:not(.inline) .labeled-number-input-number-input{
    text-align: center;
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: baseline;
}

.outer-wrapper:not(.inline) .input-value .unit-label{
    margin-right: 0.8em;
}
