.input-div{
    border: 1px solid var(--border-color);
    border-radius: 0.3125em;
    margin: calc(var(--outline-offset) + var(--outline-width));
    background-color: var(--background-color);
    display: flex;
    overflow: hidden;
}
.input-value{
    width: calc(3em + 0.9375em);
    text-align: center;
    border: unset;
    font-family: 'htw-font';
    font-weight: bold;
}
.input-value:focus{
    outline: none;
}
.input-div:has(> .input-value:focus-visible){
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}
.input-div:has(> .input-value.warning){
    outline: var(--htw-red) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}
.unit-wrapper{
    background-color: var(--border-color);
    min-width: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit-label{
    display: inline-block;
    text-align: center;
    font-size: .7em;
    color: var(--button-text-color);
    margin: 0 .2em;
}
label:not(:focus):not(:active) {
    position: absolute;
    width: 0.0625em;
    height: 0.0625em;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}