*{
    --thumb-width: 2em;
    --thumb-height: 1em;
    --slider-width: 1.5em;
    --slider-border-radius: 0.35em;
}

.slider-wrapper .slider-infill{
    background-color: var(--htw-green);
    height: 100%;
    border-radius: var(--slider-border-radius);
    user-select: none;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.slider-wrapper .slider-thumb{
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: calc(var(--thumb-height)/2);
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    cursor: pointer;
    user-select: none;
}
.outer-wrapper{
    display: flex;
    align-items:center;
    margin: calc(var(--thumb-height)/2 + 1px) calc((var(--thumb-width) - var(--slider-width))/2 + 1px);
    user-select: none;
    height: calc(100% - calc((var(--thumb-height)/2 + 1px) * 2));
    width: fit-content;
  }
  
.slider-wrapper{
    height: 100%;
    width: var(--slider-width);
    border-radius: var(--slider-border-radius);
    background-color: transparent;
    border: 1px solid var(--border-color);
    position: relative;
    cursor: pointer;
    user-select: none;
}
.tick-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 0.5em;
}
.tick{
    width: 0.4em;
    height: 0.0625em;
    background-color: var(--border-color);
}
.tick.thick{
    /* height: 0.125em; */
    width: 0.6em;
}
.tick-number-wrapper{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: calc(100%);
    margin-left: 0.5em;
    flex-direction: column-reverse;
}
.tick-number{
    font-size: 0.7em;
    line-height: 0.0625em;
}