#loading {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: var(--background-color);/*#fff;*/
    z-index: 99;
    position: relative;
}

#loading[disabled]{
    display: none;
}

#loading .loader {
    width: 10em;
    height: 10em;
    animation: pulse 1s linear infinite;
    position: absolute;
    top: calc(50% - 5em);
    left: calc(50% - 5em);
    transform: translate(-50%,-50%)
}


@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#content {
    opacity: 0;
    display: none;
}

#loading[disabled] ~ #content {
    opacity: 1;
    display: block;
    height: 100%;
}