@font-face {
    font-family: 'htw-font';
    src: url('../fonts/HTWBerlinOffice-Regular.ttf');
}
@font-face {
    font-family: 'htw-font-bold';
    src: url('../fonts/HTWBerlinOffice-Bold.ttf');
}
:root {
    --htw-green: #76b921;
    --htw-hover-green: #badc90;
    --htw-green-a: #69A500;
    --htw-blue: #0082D1;
    --htw-red: #FF5F00;
    --background-color: white;
    --border-color: gray;
    --inactive-background-color: lightgray;
    --button-text-color: white;
    --hr-border-color: #eaeaea;

    --secondary-button-color: #8B8B8B;
    --secondary-panel-color: #d0d0d0;

    --outline-offset: 2px; /*0.125em;*/
    --outline-width: 2px; /*0.125em;*/

    --font-primary-color: #000000;
    --results-background-color: #f2f2f2;

    @media screen and (prefers-color-scheme: dark) {
    --background-color: #383838;
    --border-color: #e6e6e6;
    --inactive-background-color: #BABABA;
    --button-text-color: black;
    --hr-border-color: #4b4a4a;

    --secondary-button-color: #969696;
    --secondary-panel-color: #4b4a4a;

    --font-primary-color: #ffffff;
    --results-background-color: #4a4b4b;
      }

}
body {
    font-family: 'htw-font';
    -webkit-tap-highlight-color: transparent;
    background-color: var(--background-color);
    color: var(--font-primary-color);
}