* {
    --animation-speed: 0.5s
}
.tab-view{
    background-color: var(--secondary-button-color);
    padding: .5em;
    overflow: auto;
}
.tab-view > div{
    display: none;
}

.tab-view .tab{
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows var(--animation-speed) ease-in-out;
}
.tab-view .tab *{
    overflow: hidden;
}

.tab-view .tab:not(.active){
    grid-template-rows: 0fr;
    user-select: none;
    pointer-events: none;
    /* animation: var(--animation-speed) fadeOutTabView forwards; */
}

@keyframes fadeOutTabView {
    99% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
}