body{
    position: relative;
}
.main-view, .sub-view{
    opacity: 0;
    display: none;
}
.main-view{
    grid-template-rows: auto  1fr auto;
    grid-template-columns: 1fr;
    height: 100svh;
}

.main-view .view-body{
    overflow-y: auto;
    position: relative;

     background:
    linear-gradient(
      var(--background-color) 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    linear-gradient(
      rgba(255, 255, 255, 0), 
      var(--background-color) 70%
    ) center bottom,
    
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center top,
    
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) center bottom;
  
  background-repeat: no-repeat;
  background-size: 100% 2.5em, 100% 2.5em, 100% 0.875em, 100% 0.875em;
  background-attachment: local, local, scroll, scroll;
}

.sub-view{
    flex-direction: column;
    justify-content: flex-start;
}

.main-view[selected]{
    display: grid;
}
.sub-view[selected]{
    display: flex;
}

.main-view[selected], .sub-view[selected]{
    opacity: 1;
    animation: fadeInFromNone 0.5s ease-out;
}
@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}