*{
    --button-dimension: 1.5em;
    --font-size: 1em;
}

.outer-wrapper{
    display: flex;
    align-items: end;
    cursor: pointer;
    width: fit-content;
}
.outer-wrapper.disabled{
    opacity: 0;
    cursor: inherit;
    pointer-events: none;
    width: 0;
}
.outer-wrapper.shake{
    animation: shake 5.82s cubic-bezier(.36, .07, .19, .97) both infinite;
    animation-delay: 1s;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
button{
    background-color: transparent;
    height: unset;
    line-height: var(--font-size);
    border: none;
    font-family: 'htw-font';
    font-size: var(--font-size);
    cursor: pointer;
    padding: 0;
    margin: calc(var(--outline-offset) + var(--outline-width));
}
button:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    border-radius: 0.125em;
    outline-offset: var(--outline-offset);
}
svg{
   width: var(--button-dimension); 
   fill: var(--htw-green-a);
}
.outer-wrapper.back svg{
    fill: var(--font-primary-color);
}
.fancy-link {
    text-decoration: none;
    position: relative;
    color: var(--font-primary-color);
}
.outer-wrapper:not(.disabled) .fancy-link:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-1 * var(--outline-offset));
    width: 100%;
    height: 0.125em;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in,-webkit-transform .25s ease-in;
}
.outer-wrapper:not(.disabled):hover .fancy-link:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}
.outer-wrapper:not(.disabled) .fancy-link:hover {
    /* color: #e9e9e9; */
    transition: .3s ease-out;
}
@keyframes shake {
    2%,
    18% {
      transform: translate3d(-1px, 0, 0);
    }
    4%,
    16% {
      transform: translate3d(2px, 0, 0);
    }
    6%,
    10%,
    14% {
      transform: translate3d(-4px, 0, 0);
    }
    8%,
    12% {
      transform: translate3d(4px, 0, 0);
    }
  }