*{
    --button-dimension: 1.5em;
    --font-size: 1em;
}
.bubble{
    width: var(--button-dimension);
    height: var(--button-dimension);
    background-color: var(--secondary-button-color);
    border-radius: 0.3125em;
    cursor: pointer;
    position: relative;
}
.quantity-button{
    /* line-height: var(--button-dimension); */
    color: var(--button-text-color); 
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size);
    line-height: var(--font-size);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    pointer-events: none;
}
.bubble:focus-visible{
    outline: var(--htw-blue) solid var(--outline-width);
    outline-offset: var(--outline-offset);
}
.bubble:hover{
    background-color: var(--htw-green-a);
}
.bubble[aria-disabled]{
    background-color: var(--inactive-background-color);
    cursor: not-allowed;
    /* pointer-events: none; */
}
